.w3-sidebar{
    background-color: #091336 !important;
    color: rgba(255, 255, 255, 0.6);
    width: 240px !important;
  
  }
  
  .w3-sidebar > a:hover{
    border-left:3px solid #005FF8;
    color: #fff !important;
    background: rgba(216, 228, 251, 0.32) !important;
  }
  
  .w3-sidebar > .active{
    border-left:3px solid #005FF8 !important ;
    color: #fff !important;
    background: rgba(216, 228, 251, 0.32) !important;
  }
  
  .bn{
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 4px;
  }
  
  .bn-medium{
    width: 200px;
  }
  
  .bn-blue{
    background-color: #005FF8;
    color: #fff;
  }
  
  .progress{
    width: 156px !important;
      height: 6px !important;
      border-radius: 12px;
  }
  
  .bg-green{
    background-color: #28A879 !important;
  }
  
  .text-green{
    color:#00A775 !important;
  }
  
  .bg-yellow{
    background-color: #FFD500 !important;
  }
  
  .text-yellow{
    color:#FFB800 !important;
  }
  
  
  .bg-red{
    background-color: #EA1A4F !important;
  }
  
  .text-red{
    color:#EA1A4F !important;
  }
  .bg-light-blue{
    background-color: #F1F4F9 ;
  }